img {
    width: 200px;
}
body {
    text-align: center;
    font-family: "Indie Flower";
}
h1{
    font-family: 'Ruslan Display', cursive;
    font-size: 24pt;
}
h2{
    font-family: "Arial";
    color: #FF4500;
    font-size: 12pt;
}
p{
    margin: 0px
}
#jacket{
    width: 1000px;
}